<div class="bootstrap-css dynamic-grid" style="width: 100%; height: 100%;">
    <div ng-transclude class="transclude-bucket"></div>
    <div style="width: 100%; height: 100%; overflow: auto;">
        <table ng-class="['table', 'table-striped', 'table-bordered', 'table-condensed']">
            <thead class="grid-header">
            <tr>
                <th class="darken unselectable" 
                    ng-repeat="datum in meta | orderBy: config.columnSortKey" 
                    ng-if="datum.visible !== false"
                    ng-click="sortable && !datum.static && sortBy(datum)">
                    <div class="left selectable">{{ datum.label }}</div>

                    <div class="unselectable">
                        <div ng-show="sortInfo.key == datum.key && sortInfo.up"
                             class="glyphicon glyphicon-chevron-up right"></div>

                        <div ng-show="sortInfo.key == datum.key && sortInfo.down"
                             class="glyphicon glyphicon-chevron-down right"></div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody class="grid-body">
            <!-- Perhaps make this $index... -->
            <tr ng-repeat="row in formattedData" 
                ng-class="rowStyle(row.position.index)"
                ng-click="rowClicked(row.position.index, $event)" 
                dynamic-grid-row 
                data="row" 
                editable="editable" 
                evaluation-scope="uiScope" 
                class-names="rowStyle(row.position.index)"></tr>
            </tbody>
        </table>
    </div>
</div>