<td ng-repeat="cell in data | orderBy: config.columnSortKey" ng-if="cell.visible !== false" ng-class="classNames" ng-click="cellClick($index)" ng-dblclick="editable && edit($index)">
    <div class="unselectable">
        <form-component 
                no-label 
                meta-datum="cell" 
                ng-click="action()" 
                ng-if="cell.alwaysEdit || (editingIndex == $index && !cell.readonly)"></form-component>
        <dynamic-grid-container 
                ng-if="!cell.alwaysEdit && (!editing || cell.readonly) && editingIndex != $index"
                evaluation-scope="evaluationScope" 
                content="cell" 
                row-position="rowPosition"></grid-container>
    </div>
</td>
