.dynamic-grid {

}

.dynamic-grid th.darken {

  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.dynamic-grid th.darken:hover {
  background-color: #EEE;
}

.dynamic-grid .left {
  float: left;
}

.dynamic-grid .right {
  float: right;
}

.dynamic-grid .unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dynamic-grid .selectable {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.dynamic-grid .transclude-bucket {
  margin-left: auto;
  margin-right: auto;
}

.dynamic-grid .highlight-row {
  background-color: #1BE3AA !important;
}
